kind: Deployment
apiVersion: apps/v1
metadata:
  name: celery-worker
  namespace: expense_namespace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: celery-worker
  template:
    metadata:
      labels:
        app: celery-worker
    spec:
      containers:
        - name: celery
          image: nishant007nits/expense-tracker-backend
          command: ["celery", "-A", "core", "worker", "-l", "info"]
          envFrom:
            - secretRef:
                name: expense_secrets
