kind: ConfigMap
apiVersion: v1
metadata:
  name: nginx-config
  namespace: expense_namespace
data:
  default.conf: |
    server {
        listen 80;

        location / {
            proxy_pass http://backend:8000;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }
