kind: Deployment
apiVersion: apps/v1
metadata:
  name: postgres
  namespace: expense_namespace
spec:
  replicas: 2
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        apps: postgres
    spec:
      container:
        - name: POSTGRES_DB
          image: postgres:16
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: expense_secrets
                  key: DB_NAME
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: expense_secrets
                  key: DB_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: expense_secrets
                  key: DB_PASSWORD
          ports:
            - containerPort: 5432
