kind: Deployment
apiVersion: apps/v1
metadata:
  name: backend
  namespace: expense_namespace
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: nishant007nits/expense-tracker-backend
          ports:
            - containerPort: 8000
          envFrom:
            - secretRef:
                name: expense_secrets
